@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.corps

{

	border: solid black;
	width: 100%;
	height: 1311px;
}



.rectangle{
	width: 100%;
	height: 20px;
	background-color: darkgoldenrod;
	padding: auto;
	margin: auto;
	border: solid black;
}

.photo{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	float: left;
}


.entete_fond{
	width: 100%;
	height: 300px;
	background-color: grey;


}





.entete{
	float: left;
}


.entete2 p{
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
}


.entete2{
	float: right;
	color: darkblue;
	
}

.dest{
	float: left;
margin: 20px;
font-size: 20px;
}


.dest p u{
	font-family: 'Fredoka One', cursive;
}

.envoi{
	float: right;
	font-size: 20px;
	color: #F95E2D;



	}
	.envoi p u{
		font-family: 'Fredoka One', cursive;
	}





	.tab input{
		width: 68%;
	}

	.titre_tab{
		color: whitesmoke;
		text-align: center;
		background-color: darkred;
		font-size: 23px;
	}

	.fin{
		text-align: right;
	}

	.fond_tab{
		
		background-color: #D5CBCB;

		 
	}
	.couleur{
		background-color: #D5CBCB;
		text-align: right;
	}

	.arg{
		text-align: right;
	}


	.prix{
		text-align: right;
	}

	.total{
		background-color: #D5CBCB;
		text-align: right;
	}

	.tab td input{
		width: 98%;

	}

	.réponse td input{
		
		width: 100%;
		background-color: transparent;
	}
